* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #323232;
    color:#fff;   
    font-weight: 300; 
}

.header {
    background-color: #222;
    padding: 25px 100px;
    font-weight: 600;
}

main {
    margin: 50px 100px;
    width: 50%;
    float: left;
}

aside {
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}

main .user {
    margin-bottom: 50px;
    background-color: #3e8fa0;
    padding: 20px;
}